@font-face {
    font-family: 'Varela Round';
    src: url('VarelaRound.eot');
    src: url('VarelaRound.eot?#iefix') format('embedded-opentype'),
          url('VarelaRound.woff') format('woff'),
          url('VarelaRound.ttf') format('truetype'),
          url('VarelaRound.svg#VarelaRound') format('svg'),
          url('VarelaRound.otf')  format('opentype');
    font-weight: normal;
    font-style: normal;
}

